# Generic
# --------------------------
Desktop.ini
Icon?
.directory
*.cache
*.old
*.log
*.zip
*~

# Development files
# --------------------------
.php-version
tests/clover.xml
coveralls-upload.json

# Dependency folders
# --------------------------
composer.lock
node_modules/
vendor/

# IDE Project Configurations
# --------------------------
.idea
.settings
.project
*.sublime-*

# But Keep these
# --------------------------
!.gitkeep

