<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="../vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertErrorsToExceptions="true"
    processIsolation="false"
    stopOnIncomplete="false"
    stopOnFailure="false"
    stopOnSkipped="false"
    stopOnError="false"
    colors="true">

    <testsuites>
        <testsuite name="Slim Plates View Test Suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
    </filter>

</phpunit>
